.App {
  display: flex;

  & .MuiTypography-root,
  & .MuiButtonBase-root {
    font-family: NodestoCapsCondensed !important;

    & .MuiBreadcrumbs-li .MuiTypography-root{
      font-size: 1.5rem !important;
    }
  }

  & .dashboard-card {
    font-size: 1.2rem;
  }
}

.cardTab {
  overflow: scroll;
}