.App {
  display: flex;

  & .MuiTypography-root,
  & .MuiButtonBase-root {
    font-family: NodestoCapsCondensed !important;
  }

}

form > input {
  color: inherit;
}
.cardTab {
  overflow: scroll;
}

