.note-side {
  transition: all .8s ease;
  // backface-visibility: hidden;
  overflow: hidden;
}

.front {
  // border: 1px solid red;
}

.back {
  border: 1px solid purple;
  transform: rotateY(180deg);
}

.turn .front {
  transform: rotateY(-180deg);
}

.turn .back {
  transform: rotateY(0);
}

.paper {
  position: 'absolute';
  width: 400;
  // backgroundColor: theme.palette.background.paper;
  border: '2px solid #000';
  // boxShadow: theme.shadows[5];
  // padding: theme.spacing(2, 4, 3);
}